:root{
    --facebook:#3b5998;
    --twitter:#1DA1F2;
    --instagram:#E1306C;
    --linkedin:#0072b1;
    --youtube:#FF0000;
}

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

html,body{
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    font-family: "Helvetica Neue",Arial,sans-serif;
}

h1{
    display: flex;
    margin-bottom: 115px;
}

.social-medias{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 50%;

}

.social{
    display: flex;
    align-items:center;
    justify-content:center;
    border-radius: 4px;
    transform: rotate(320deg) skew(15deg);
    width: 80px;
    height:80px;
    cursor: pointer;
    position: relative;

}

.facebook i,
.facebook span{
    background: var(--facebook);
}


.twitter i,
.twitter span{
    background: var(--twitter);

}


.youtube i,
.youtube span{
    background: var(--youtube);
}


.instagram i,
.instagram span{
    background: var(--instagram);

}

.linkedin i,
.linkedin span{
    background: var(--linkedin)
}

.fa{
    font-size: 32px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:400ms;
    width: 100%;height: 100%;
    
}



.social span{
    border-radius: 4px;
    width: 100%;
    height:100%;
    position:absolute;
    opacity: 0;
    top: 0;
    left: 0 ;
    transition: .5s;
}



.social:hover i{
    transform:translate(40px,-40px)
}

.social:hover span:nth-child(4){
    transform: translate(30px,-30px);
    opacity: .8;
}

.social:hover span:nth-child(3){
    transform: translate(20px,-20px);
    opacity: .6;
}

.social:hover span:nth-child(2){
    transform: translate(10px,-10px);
    opacity: .4;
}

.social:hover span:nth-child(1){
    transform: translate(0px,0px);

    opacity: .2;

}

